*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}
body{
    
    height: 100vh;
    background:linear-gradient(#8052ec,#d161ff);
}
.container{
width: 45%;
display: flex;
flex-direction: column;

position: absolute;
height: 250px;
border: 2px solid red;
position: absolute;
top: 180px;
left: 420px;
padding: 80px;

}
.newtask{
    border: 1px solid white;;
    background-color: whitesmoke;
    display: inline-block;
    width: 400px;
    border-radius: 10px;
    height: 70px;
    position: relative;
    /* margin: 60px; */


}
.newtask input{
    height: 45px;
    width:70%;
    margin: 10px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgb(138, 127, 127);

}
.btn{
margin-left: 3px;
height: 30px;
width: 60px;
border-radius: 10px;
background-color: #498fe5;
}
.task{
    /* border: 2px solid red; */
    background-color: whitesmoke;
    position: relative;
    width: 400px;
    border-radius: 10px;
    margin: 30px;
    padding: 25px;
    margin-left: 1px;
    

   

}